
# Windows local boot entries for Ventoy and standalone GRUB
# Works with or without Ventoy kernel modules

if [ "$grub_platform" = "pc" ]; then
    # Legacy BIOS Windows boot
    menuentry "Boot Local Windows (BIOS)" --class=boot_windows --class=F4boot {
        insmod chain
        insmod ntfs
        insmod fat
        insmod part_msdos
        insmod part_gpt
        insmod search
        if search --no-floppy --set=root --file /bootmgr; then
            echo "Found: /bootmgr"
            ntldr /bootmgr
            boot
        elif search --no-floppy --set=root --file /ntldr; then
            echo "Found: /ntldr"
            ntldr /ntldr
            boot
        else
            echo "Windows bootloader NOT found!"
            sleep 3
        fi
    }

    menuentry "Boot from first HDD" --class=boot_disk --class=F4boot {
        set root=(hd0,1)
        chainloader +1
        boot
    }

    menuentry "Boot from second HDD" --class=boot_disk --class=F4boot {
        set root=(hd1,1)
        chainloader +1
        boot
    }

else
    # UEFI Windows boot
    menuentry "Boot Local Windows (UEFI)" --class=boot_windows --class=F4boot {
        insmod chain
        insmod ntfs
        insmod fat
        insmod part_gpt
        insmod part_msdos
        insmod search
        if search --no-floppy --set=root --file /EFI/Microsoft/Boot/bootmgfw.efi; then
            echo "Found: /EFI/Microsoft/Boot/bootmgfw.efi"
            chainloader /EFI/Microsoft/Boot/bootmgfw.efi
            boot
        elif search --no-floppy --set=root --file /efi/microsoft/boot/bootmgfw.efi; then
            echo "Found: /efi/microsoft/boot/bootmgfw.efi"
            chainloader /efi/microsoft/boot/bootmgfw.efi
            boot
        else
            echo "Windows Boot Manager NOT found!"
            sleep 3
        fi
    }

    if [ "$grub_cpu" = "i386" ]; then
        menuentry "Boot IA32 UEFI OS" --class=boot_uefi --class=F4boot {
            insmod chain
            insmod search
            if search --no-floppy --set=root --file /efi/boot/bootia32.efi; then
                echo "Found: /efi/boot/bootia32.efi"
                chainloader /efi/boot/bootia32.efi
                boot
            else
                echo "BOOTIA32.EFI NOT found!"
                sleep 3
            fi
        }
    elif [ "$grub_cpu" = "arm64" ]; then
        menuentry "Boot AA64 UEFI OS" --class=boot_uefi --class=F4boot {
            insmod chain
            insmod search
            if search --no-floppy --set=root --file /efi/boot/bootaa64.efi; then
                echo "Found: /efi/boot/bootaa64.efi"
                chainloader /efi/boot/bootaa64.efi
                boot
            else
                echo "BOOTAA64.EFI NOT found!"
                sleep 3
            fi
        }
    else
        menuentry "Boot x64 UEFI OS" --class=boot_uefi --class=F4boot {
            insmod chain
            insmod search
            if search --no-floppy --set=root --file /efi/boot/bootx64.efi; then
                echo "Found: /efi/boot/bootx64.efi"
                chainloader /efi/boot/bootx64.efi
                boot
            else
                echo "BOOTX64.EFI NOT found!"
                sleep 3
            fi
        }
    fi

fi
